body {
    background-color: #FFF6EA;
}
.name, h1,h2,h4,h3 {
    font-family: 'Ms Madi', cursive;
 
}


.name:hover {
    font-weight: bold;
}

#myCarousel{
    margin-top: 55px;
}

video {
    margin-top: 30px;
    width: 500;
}
footer {
    background-color: #FFF6EA;
}


@media all and (max-width: 600px) {
   .navbar{display: flex;
    }
    .col-md-7 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
